
body::before {

  display: block;
  content: '';
  height: 90px;


}

.img-learn {

  margin-top: 90px;
  margin-right: 10px;
}


@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
